.Header-section{
  display: flex;
  justify-content: space-between;
  border-radius: 2px solid black;
  margin:10px;
  background-color: antiquewhite;

}

.img-logo{
  height:90px;
  width:150px;
}
.ul-items{
  list-style-type: none;
  display: flex;
  font-size: 20px;
}
.li-items{
  padding:10px;
  margin:10px;
}
.custom-link{
  text-decoration: none;
}
.btn{
  height:50px;
  width:40px;
  align-items: center;

}

.res-info{
  height:400px;
  padding:20px;
  margin:10px;

  width:200px;
  
  background-color:  azure;
  border-radius: 10px;
  
}
.res-info :hover{
  color: gray;
  cursor: pointer;
}
.image-logo{
  height: 150px;
  width:200px;
  border-radius: 10px;
}


.Res-Cardinfo{
  display:flex;
  flex-wrap: wrap;
  
}
.res-info h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}
.res-info h3{
  font-size: medium;
}
.shimmer{
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 20px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}


